.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 148px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1045px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 85px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 12px auto 0;
}

.u-section-2 .u-form-1 {
  height: 641px;
  --thumb-color: #b9625d;
  --thumb-hover-color: #ce8a86;
  --track-color: #c0c0c0;
  --track-active-color: #b9625d;
  width: 570px;
  margin: 20px auto 60px;
}

.u-section-2 .u-input-1 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 500;
  text-transform: none;
}

.u-section-2 .u-input-2 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 500;
  text-transform: none;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-input-3 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 500;
  text-transform: none;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-input-4 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 500;
  text-transform: none;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-input-5 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 500;
  text-transform: none;
}

.u-section-2 .u-input-6 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 500;
  text-transform: none;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-input-7 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 500;
  text-transform: none;
}

.u-section-2 .u-btn-1 {
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 0px 15px 0px rgba(128,128,128,1);
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    font-weight: normal;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    padding: 6px 31px 6px 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}